$global-bg-color: #fff;
$global-border-color: #868061;
$global-text-color: #7a6960;
$global-accent-color: #868061;
$global-link-color: #333;
$global-link-hover-color: #868061;
$global-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
$global-font-size: 14px;
$global-font-weight: 600;
$global-padding: 30px;
$global-padding-small: 10px;
$global-padding-large: 60px;
$global-border-radius: 4px;
$global-transition: 0.3s;
$global-icon-size: 44px;
$global-social-link-size: 36px;
$global-social-link-spacing: 10px;
$global-input-height: 44px;
