//global
$primary-color: rgba(207, 127, 127, 0.753);
$secondary-color: #bbb48ecc;
$hover-color: #868061;
$error-border-color: red;

//scope
@mixin social-icon-hover {
    &:hover i {
        color: $hover-color;
        transition: color 0.3s;
    }
}

.login-logo {
    text-align: center;
    padding: 20px 0;
    img {
        max-width: 90px;
        border-radius: 50%;
    }
}

.forgot-password, .or-signin, .an-account {
    text-align: center;
    margin-top: 10px;
    position: relative;
}

.error-message {
    background-color: $primary-color;
    color: white;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
    border: 2px solid $error-border-color;
}

.social-icon {
    color: $secondary-color;
    margin-right: 5px;

    &.facebook {
        @include social-icon-hover;
    }

    &.google {
        margin-left: 5px;
        @include social-icon-hover;
    }

    &.twitter {
        margin-left: 5px;
        @include social-icon-hover;
    }
}
